.final-form-array-group {
  display: table;
  position: relative;
  width: 100%;

  .final-form-group-controls {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
    right: 0;
  }

  .final-form-array-item {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
  }
}

.final-form-array-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: auto;
  grid-column-end: span 12;
  > div {
    &:first-child {
      grid-column: 1
    }
    &:last-child {
      grid-column-start: 11
    }
  }
}

/**
* pf3 fixes
*/
.data-driven-form {
  .form-group {
    display: inline-block;
    width: 100%;
  }
}